body{background-color: #ccc; }



.logotipo{
	padding: 5px;
	margin-right: 20px;
}
.logotipo img{
	height: 40px;
	margin-left: 25px;
}
.navbar-inverse .navbar-toggle:hover {
    background-color:  	#006400;}

.navbar-inverse{background-color: 	#006400;}

.navbar-toggle{border-color:#222;} 

.navbar-toggle:hover{background-color:#006400;}

.navbar-toggle .icon-bar{background-color:#006400;}

.navbar-inverse .navbar-toggle {
    border-color: #006400;}

    .navbar-inverse .navbar-nav>li>a {
    color: white;}
      .navbar-inverse .navbar-nav>li>a:hover {
    color: #87CEFA;}


.btn-verde{
	background-color: #006400;
}
.btn-verde-p{
	color: white;
}
.btn-verde-p:hover{
	color: #006400;
}
.modal-title-estiliza{
	color: #006400;
	text-align: center;
}

.goleiro{margin-top: 20px; margin-left: 1px;}
.zagueiro-um{margin-top: 80px; margin-left: 10px;}
.zagueiro-dois{margin-top: 80px; margin-left: 10px;}
.lateral-um{margin-top: 80px; margin-left: 5px;}
.lateral-dois{margin-top: 80px; margin-left: 5px;}
.meio-um{margin-top: 50px; margin-left: 5px;}
.meio-dois{margin-top: 50px; margin-left: 5px;}
.meio-tres{margin-top: 50px; margin-left: 5px;}
.ataque-um{margin-top: 50px; margin-left: 5px;}
.ataque-dois{margin-top: 50px; margin-left: 5px;}
.ataque-tres{margin-top: 50px; margin-left: 5px;}
.row img:hover{background-color: #87CEFA; cursor: pointer; }
.ataque{ margin-bottom: 100px;}







@media (min-width: 992px) { 
.goleiro{margin-left: 10px;}	
.zagueiro-um{margin-top: 140px;}
.lateral-dois{margin-top: 140px;}
.meio{margin-top: 100px;}
.meio-um{ margin-top: 200px;  }
.meio-dois{ margin-top: 100px; }
.meio-tres{margin-top: 200px;}
.ataque{margin-top: 130px; margin-bottom: 120px;}
.ataque-um{margin-top: 200px; }
.ataque-tres{margin-top: 200px; }


}

@media (min-width: 768px){
	.goleiro{margin-left: 10px;}	
.zagueiro-um{margin-top: 140px;}
.lateral-dois{margin-top: 140px;}
.meio{margin-top: 100px;}
.meio-um{ margin-top: 200px;  }
.meio-dois{ margin-top: 100px; }
.meio-tres{margin-top: 200px;}
.ataque{margin-top: 130px; margin-bottom: 120px;}
.ataque-um{margin-top: 200px; }
.ataque-tres{margin-top: 200px; }

footer .logo-opovo {
    display: block;
    background: url(https://especiais.opovo.com.br/images/imgs/pabllovittar/sprite.png) no-repeat -10px -177px;
    width: 158px;
    height: 20px;
    margin-left: 30px;
    margin-right: 0px;
    float: left;
   background-color: #006400;
}


}









footer{
	 background-color: #006400;

}
footer .logo-opovo {
    display: block;
    background: url(https://especiais.opovo.com.br/images/imgs/pabllovittar/sprite.png) no-repeat -10px -177px;
    width: 158px;
    height: 20px;
    margin-left: 30px;
    margin-right: 0px;
    float: left;
   background-color: #006400;
}


a {
    text-decoration: none;
}
.footer-end {
    padding: 20px 0;
    background-color: #006400;
}
.footer-end {
    margin: 0px;
        background-color: #006400;
}
.clearfix {
    display: block;
}
.clearfix {
    display: inline-block;
        background-color: #006400;
}
.clearfix {
    display: block;
        background-color: #006400;
}
.clearfix {
    display: inline-block;
        background-color: #006400;
}

